# Включаем Passenger
PassengerEnabled On

# Путь к вашему приложению
PassengerAppRoot /home/ваш-логин/ваш-сайт.рф

# Путь к интерпретатору Python из виртуального окружения
# Вместо 'ваш-логин' подставьте свой
PassengerPython /home/ваш-логин/ваш-сайт.рф/venv/bin/python